body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto";
}

header {
  background: #ecf4ff;
  color: #1c1c1c;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  margin: 40px;
  padding: 64px;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin-left: 20px;
}

.container h1 {
  font-weight: 700;
  font-size: 36px;
}

.container h2 {
  font-weight: 400;
  font-size: 24px;
}

.perfil-usuario {
  border-radius: 460px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  max-width: 160px;
}

.cabecalho {
  display: flex;
}

.tema button {
  align-self: flex-end;
  background: #ecf4ff;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #0e1d2f;
  font-size: 16px;
  padding: 8px 16px;
}

main {
  background: linear-gradient(230.65deg, mediumblue 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  margin: 30px;
  max-height: 500px;
}

.projetos {
  overflow-y: scroll;
  scrollbar-width: thin;
}

.title {
  font-weight: 700;
  font-size: 48px;
}

li {
  font-weight: 400;
  font-size: 24px;
  list-style: none;
  list-style-type: none;
  margin: 30px;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark header {
  background: #333439;
  box-shadow: 6px 6px 6px #0e1d2f;
}

.dark .container {
  color: #f7f7f7;
}

.dark main {
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  border: 2px solid #f7f7f7;
  color: #f7f7f7;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border: 1.8px solid #1c1c1c;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ecf4ff;
}

::-webkit-scrollbar-track {
  background: #ecf4ff;
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
  margin: 15px 0px;
}